<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<!-- xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
		version="2.5"> -->
	<!-- xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
          version="3.0">  -->
    <display-name>Portal OBIEE</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
		<param-name>authority</param-name>
<!-- 		<param-value>https://login.microsoftonline.com/</param-value> -->
		<param-value>https://login.windows.net/</param-value>
	</context-param>
	<context-param>
		<param-name>tenant</param-name>
<!-- 		<param-value>deloittesep.onmicrosoft.com</param-value> -->
		<param-value>siged.sep.gob.mx</param-value>
	</context-param>
    
    <servlet>
    	<description>Login Servlet</description>
    	<display-name>LoginController</display-name>
    	<servlet-name>LoginController</servlet-name>
    	<servlet-class>com.dtte.portal.obiee.LoginController</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/index</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/home</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<servlet-name>ManejadorError</servlet-name>
        <servlet-class>com.dtte.portal.obiee.ManejadorError</servlet-class>
	</servlet>	
	<servlet-mapping>
        <servlet-name>ManejadorError</servlet-name>
        <url-pattern>/ManejadorError</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>BasicFilter</filter-name>
		<filter-class>com.dtte.portal.obiee.BasicFilter</filter-class>
		<init-param>
			<param-name>client_id</param-name>
<!-- 			<param-value>1ec7ed6e-64c7-43ae-9a9b-62954b86b415</param-value> -->
			<param-value>e3245727-c95d-45b8-8cc7-abd8041d3b73</param-value>
			
		</init-param>
		<init-param>
			<param-name>secret_key</param-name>
<!-- 			<param-value>DK/HFXGEvkS+TUXkWDLBgT6AL2yLJuaZQ2CaQqiY5pU=</param-value> -->
			<param-value>wvXHrgPIEY2luVKAGubdqS/Q2TtvGHolBUgy0xER+jc=</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BasicFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
    	<error-code>404</error-code>
    	<location>/ManejadorError</location>
	</error-page>
	<error-page>
    	<error-code>403</error-code>
    	<location>/ManejadorError</location>
	</error-page>
  	<context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Administracion</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.AdministracionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Administracion</servlet-name>
		<url-pattern>/administracion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>adminConfiguracion</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.ConfiguracionController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adminConfiguracion</servlet-name>
		<url-pattern>/configuracion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>configuracionroles</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.ConfiguracionRolesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configuracionroles</servlet-name>
		<url-pattern>/configuracionroles</url-pattern>
	</servlet-mapping>	
		<servlet>
		<servlet-name>configuracionreportes</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.ConfiguracionReportesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configuracionreportes</servlet-name>
		<url-pattern>/configuracionreportes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>configuracionreportesrol</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.ConfiguracionReportesRolController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>configuracionreportesrol</servlet-name>
		<url-pattern>/configuracionreportesrol</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>GeneraOpcionesReportesController</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.GeneraOpcionesReportesController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneraOpcionesReportesController</servlet-name>
		<url-pattern>/generaOpcionesReportes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>generaUrlDinamica</servlet-name>
		<servlet-class>com.dtte.portal.obiee.utils.GeneraURLDinamicaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>generaUrlDinamica</servlet-name>
		<url-pattern>/generaUrlDinamica</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>construyeUrlDinamica</servlet-name>
		<servlet-class>com.dtte.portal.obiee.utils.ConstruyeURLDinamicaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>construyeUrlDinamica</servlet-name>
		<url-pattern>/construyeUrlDinamica</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneraSelectoresController</servlet-name>
		<servlet-class>com.dtte.portal.obiee.administracion.GeneraSelectoresController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneraSelectoresController</servlet-name>
		<url-pattern>/generaSelectores</url-pattern>
	</servlet-mapping>
</web-app>
