<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Portal OBIEE</display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
		<param-name>authority</param-name>
		<param-value>https://login.microsoftonline.com/</param-value>
	</context-param>
	<context-param>
		<param-name>tenant</param-name>
		<param-value>siged.sep.gob.mx</param-value>
	</context-param>
    
    <servlet>
    	<description>Login Servlet</description>
    	<display-name>LoginController</display-name>
    	<servlet-name>LoginController</servlet-name>
    	<servlet-class>com.dtte.portal.portal.obiee.LoginController</servlet-class>
  	</servlet>
  	<servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/index</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>LoginController</servlet-name>
    	<url-pattern>/home</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
   		<servlet-name>ManejadorError</servlet-name>
        <servlet-class>com.dtte.portal.portal.obiee.ManejadorError</servlet-class>
	</servlet>
	
	<servlet-mapping>
        <servlet-name>ManejadorError</servlet-name>
        <url-pattern>/ManejadorError</url-pattern>
	</servlet-mapping>
	<error-page>
    	<error-code>404</error-code>
    	<location>/ManejadorError</location>
	</error-page>
	<error-page>
    	<error-code>403</error-code>
    	<location>/ManejadorError</location>
	</error-page>
  	<filter>
		<filter-name>BasicFilter</filter-name>
		<filter-class>com.dtte.portal.portal.obiee.BasicFilter</filter-class>
		<init-param>
			<param-name>client_id</param-name>
			<param-value>e3245727-c95d-45b8-8cc7-abd8041d3b73</param-value>
		</init-param>
		<init-param>
			<param-name>secret_key</param-name>
			<param-value>wvXHrgPIEY2luVKAGubdqS/Q2TtvGHolBUgy0xER+jc=</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>BasicFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>
